#grid div {
  width: 3.5vw;
  height: 3.5vw;
  border: 1px solid black;
  background-color: grey;
}

#grid div:hover {
  cursor: pointer;
  background-color:lightgray;
}

#grid div.hovered {
  background-color:lightgray;
}

#grid div.not-allowed {
  cursor: not-allowed;
  background-color: grey;
}

#grid div.ship {
  background-color: chartreuse;
}

#grid div.hit {
  background-color: red;
}

#grid div.miss {
  background-color: darkblue;
}
/* responsive sizing */

@media only screen and (max-width: 1024px) {
  #grid div {
    width: 35px;
    height: 35px;
  }
}
