#controls {
  margin-top: 50px;
  text-align: center;
}

#controls p {
  font-size: 22px;
}

#ship-container {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  align-content: space-between;
}

#rotate-ship-btn {
  width: 150px;
  height: 50px;
  margin-top: 20px;
}