#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-right: 5%;
  margin-left: 5%;
}

@media only screen and (max-width: 1200px) {
  #grid {
    margin-bottom: 75px;
  }
}

@media only screen and (max-width: 900px) {
  #grid {
    margin-bottom: 50px;
  }
}