#grid-container {
  display: flex;
  margin: 50px auto 0 auto;
  width: 75%;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  #grid-container {
    flex-direction: column;
  }
}
